body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.input-field-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    padding: 1rem;

}

.input-field {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    border-radius: 5px;
    background-color: #E4E8EE;
    box-sizing: border-box;
    overflow-y: hidden;
}

.question-input {
    flex: 1;
    padding: 1rem;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    outline: none;
    resize: none;
    overflow-y: auto;
    height: auto;
    background-color: #E4E8EE;
    box-sizing: border-box;
}

.submit-button {
    padding: 1rem;
    background-color: #E4E8EE;
    color: #222222;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.submit-button:hover {
    background-color: rgb(192, 187, 187);
    color: #E4E8EE;
}

/* Responsiveness */
@media screen and (max-width: 1050px) {
    .input-field-container {
        width: 90%;
    }
}

@media screen and (max-width: 850px) {
    .input-field-container {
        width: 740px;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .input-field-container {
        width: 430px;
    }
}